body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    font-size: 25px;
    font-family: 'Fruktur', cursive;
    background-image: linear-gradient(plum,purple);
  }
  
  .container {
    border: 2px solid #dedede;
    background:linear-gradient(white,plum);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin-top: 150px;
  }
  .center{
      text-align: center;
      background-color: plum;
      color: black;
  }
 
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    border-color: plum;
    color: black;
    border-radius: 40px;
    height: 100px;
    font-size: 30px;
    letter-spacing: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
    }

    input[type=submit]:hover {
        background-color:plum ;
        right: 0px;
        color: black;
    }

    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        display: flex;
        height: 100vh;
        background:linear-gradient(plum,purple);
        flex-direction: column;
    }

    .header {
        padding: 10px 5%;
        background: darkslategray;
        color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
    }

    .messages-area {
        height: 100%;
        min-height: 70vh;
        overflow-y: auto;
        padding: 4%;
        background: linear-gradient(white,plum);
        color: black;
        padding-bottom: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
    }

    .input-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: darkslategray;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
    }

    #message-input {
        padding: 20px;
        width: 100%;
        background-color: white;
    }

    #send-btn {
        border-color: plum;
        color: black;
        border-radius: 40px;
        height: 80px;
        width: 100px;
        font-size: 30px;
        letter-spacing: 2px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
    }
    .message.left{
        text-align: left;
        color: white;
    }
    .message.right {
        text-align: right;
        color: green;
    }
    .message .content{
        background: #444;
        padding: 5px 10px;
        border-radius: 10px;
        max-width: 80%;
        display: inline-block;
    } 