{% load bootstrap4 %}
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<title>LET'S CHAT</title>
  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fruktur&display=swap" rel="stylesheet">
  {% endblock %}

  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
  {% endblock %}
{%block content%}

<div class="container">
<div class="center">
    <h2>WELCOME TO LET'S CHAT</h2>
</div>



    <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label>Room Name</label>
        <input type="text" name="room_name" id="room_name" width="100px" />
        <label>Username</label>
        <input type="text" name="username" id="username" width="100px" />
        <br><br>
        <input type="submit" value="Enter Room">
    </form>
</div>
{%endblock%}

