{%extends 'index.html'%}
{%block content%}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">{{other_user.username}}</div>
    <div class="messages-area">
        {%for message in messages%}

        <div class="message {%if meesage.sender==request.user%}right {%else%} left{%endif%}">
            <div class="sent_by">
                {{message.sender.username}}
            </div>
            <div class="content">
                {{message.message}}
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="input-area">
        <input type="text" id="message-input">
        <button id="send-btn">Send</button>
    </div>

</body>
{%endblock}

